@media all and (max-width:1200px) {

}
@media  all and (max-width:375px) {
  header {
    margin: 0;
  }
  header nav {
    display:none;

  }
  .header {
    width:100%;
    text-align: center;
  }
  .container {
    width:100%;
  }
  .tittle {

    float:none;
  }
  .div-header {
    height: auto;

  }
  .div-header-img {
    float:none;
  }
  .div-header-img img {
    width: 100%;
height: 100%;
  }
  .div-header-text {
    padding:10px 10px 20px 10px;
  }
  .div-btn-box {
    text-align: center;
  }

  /* メイン */
  .main {
    width:349px;
    float:none;
    margin: 0 auto;
  }
  .tab {
    margin-top:44px;
    width:100%;

  }
  .tab-1 {
    width:50%;
  }
  .tab-2 {
    width:50%;
  }
  /* カード要素 */
article {
  width:100%;
  float:none;
  margin-right: 0;

}
.card img {
  width:100%;
}

/* 右側コンテンツ */
aside {
  float:none;
  width:349px;
  text-align: center;
  margin:0 auto;
}


.widget-popular-contents li {
  display:table;
}
.widget-title {
      text-align: left;
}
.click-action {
  text-align: left;
}
.category-list {
  text-align: left;
}
.footer-container {
  width: 349px;
}
.footer-size {
  display: block;
  width:100%;
}
}


}
